<!-- FILEPATH: /c:/Users/alber/Projects/CodeVL/core/templates/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>VLCode</title>
</head>
<body>
    
    <h1>Input and Output</h1>
    <p>Welcome to VLCode! Please enter your text in English or in VLCode. Your translation will appear.</p>
    <form>
        <label for="input">Input:</label>
        <input type="text" id="input" name="input">
    </form>
    <div id="output">
        <h2>Output:</h2>
        <p>This is where the output will be displayed.</p>
    </div>
</body>
</html>
